<footer>
    <div class="text-section">
        <a href="http://instagram.com/emsa.beograd/">Instagram</a>
        <a href="http://facebook.com/emsabeograd/">Facebook</a>
        <p>Copyright © 2019 EMSA Beograd</p>
    </div>
</footer>