<header>
    <div class="wrapper">
        <div class="brand">
            <img class="nav-header__text" src="/images/emsa_logo.png" />
            <h1 class="nav-logo">EMSA Beograd</h1>
        </div>
        <nav class="navigation">
            <ul>
                <li><a href="/kontakt">Kontakt</a></li>
            </ul>
        </nav>
    </div>
</header>