<header>
    <div class="wrapper">
        <div class="brand">
            <a href="/">
                <img class="nav-header__text" src="/images/emsa_logo.png" />
            </a>
            <h1 class="nav-logo">EMSA Beograd</h1>
        </div>
        <nav class="navigation">
            <ul>
                <li><a href="/kontakt">Kontakt</a></li>
                <li><a href="/komiteti">Komiteti</a></li>
                <li><a href="/en">English</a></li>
            </ul>
        </nav>
    </div>
</header>