<!DOCTYPE html>
<html lang="rs">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EMSA Beograd</title>
    <meta name="description" content="EMSA Beograd je studentska organizacija koja okuplja studenete Medicinskog fakulteta u Beogradu." />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />
    <link rel="shortcut icon" href="https://emsabeograd.com/images/emsa_favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Poppins:700|Noto+Sans" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <%- css('css/unnamed') %>
    <%- css('css/main') %>
  </head>
  <body>
    <div>
      <%- body %>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
  </body>
</html>
