<%- partial('header') %>
<div>
  <div class="main-body-content">
    <%- page.content %>
    <div class="spacer-xxxl"></div>
    <%- partial('back') %>
    <div class="spacer-xxxl"></div>
  </div>
  <%- partial('footer') %>
</div>
