<%- partial('header') %>
<div>
  <div class="main-body-content">
    <div class="text-section">
      <%- page.content %>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <%- partial('back') %>
    </div>
  </div>
</div>
